body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e4e0e1;
}

.container {
  display: flex;
  gap: 10px;
}

.container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #493628;
  color: white;
}

.container button:hover {
  background-color: #3B3030;
}
