body {
    background-color: #8B93FF; 
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container{
    width: 100px;
    height: auto;
    display: block;
    text-align: center;
}


#Titulo {
    color: #5755FE; 
    font-size: 50px;
}

.Categoria {
    font-size: 40px;
}

.Explicação {
    font-size: 14px;
    color: #151515; 
}
