@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    padding: 0%;
    margin: 0%;
    background-color: #DBAFA0;
    font-family: 'Poiret One', sans-serif;
    color: #EBD3F8;
}

.father {
    width: 200px;
    height: 350px;
    background-color: #BB8493;
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
}

#father {
    justify-content: space-around;
    align-items: center;
}

#father2 {
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

.son {
    width: 30px;
    height: 30px;   
    /* background-color: #7A1CAC; */
}

.n1 {
    background-color: #522258;
}

.n2 {
    background-color: #704264;
}

.n3 {
 background-color: #49243E;
}

.n4 {
    background-color: #3B1C32;
}


/* Row - linhas
column - Colunas
wrap - joga os elementos caso não caibam na tela 
gap - espaço entre elementos  */