@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "Chakra Petch", sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
}

header {
    color: #000000;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 50px;
    margin-right: 10px;
}

#cabecalho ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#cabecalho ul li {
    margin: 0 15px;
}

#cabecalho ul li a {
    color: #000000;
    text-decoration: none;
}

.banner {
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
/* 
#letter {
    padding: 40px;
} */

.banner h1 {
    margin: 0;
    font-size: 2em;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-content {
    flex: 3;
    /* padding: 20px; */
    background-color: #fff;
}

#main-content p {
    margin-right: 20px;
}

.sidebar {
    flex: 1;
    /* padding: 20px; */
    background-color: #fff;
}

.sidebar h2{
    background-color: #000000;
    color: #fff;  
}

.main-content h2{
    background-color: #000000;
    color: #fff;
}

.site-map { 
    background-color: #f9f9f9; 
}

/* .site-map h2 { 
    font-size: 1.5em; 
    margin-bottom: 10px; 
}  */

.site-map ul { 
    list-style: none; 
    padding: 0; 
} 

/* .site-map ul li { 
    margin-bottom: 10px; 
}  */

.site-map ul li a { 
    text-decoration: none; 
    color: #333; 
    font-size: 1.2em; 
} 
/* 
.site-map ul li a:hover { 
    text-decoration: underline; 
} */


footer {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px 0;
}

footer .contact p {
    margin: 5px 0;
    margin-left: 20px;
}
